.reviews {
	padding: rem(80) rem(0);
	@media (max-width: $pc) {
		overflow: hidden;
	}
	@media (max-width: $tablet) {
		padding: rem(40) rem(0);
		overflow: hidden;
	}
	@media (max-width: $mobile) {
		padding: rem(30) rem(0);
	}
	&:first-child {
		padding: rem(160) rem(0) rem(80);
		@media (max-width: $tablet) {
			padding: rem(80) rem(0) rem(40);
		}
		@media (max-width: $mobile) {
			padding: rem(60) rem(0) rem(30);
		}
	}
	&:last-child {
		padding: rem(80) rem(0) rem(160);
		@media (max-width: $tablet) {
			padding: rem(40) rem(0) rem(80);
		}
		@media (max-width: $mobile) {
			padding: rem(30) rem(0) rem(60);
		}
	}
	&__container {
	}
	&__title {
	}
	&__slider {
		@media (max-width: $pc) {
			overflow: visible;
			margin: rem(0) rem(-15);
			padding: rem(0) rem(15);
		}
	}
	&__wrapper {
	}
	&__slider-btn {
		&_prev {
		}
		&_next {
		}
	}
}

.review {
	border-radius: rem(15);
	padding: rem(30) rem(20);
	background-color: #fff;
	margin-right: rem(20);
	flex: 0 0 calc((100% - rem(20 * 3)) / 4);
	@media (max-width: $pc) {
		flex: 0 0 calc((100% - rem(20)) / 2);
	}
	@media (max-width: $tablet) {
		padding: rem(24) rem(20);
	}
	@media (max-width: $mobile) {
		padding: rem(20) rem(16);
		flex: 0 0 100%;
	}
	&__descr {
		font-weight: 300;
		line-height: 1.3;
		@media (max-width: $mobile) {
			font-size: rem(16);
		}
		p {
			&:not(:last-child) {
				margin-bottom: rem(20);
				@media (max-width: $mobile) {
					margin-bottom: rem(12);
				}
			}
		}
	}
}

.review-head {
	display: flex;
	align-items: center;
	gap: rem(16);
	&:not(:last-child) {
		margin-bottom: rem(32);
		@media (max-width: $tablet) {
			margin-bottom: rem(24);
		}
	}
	&__icon {
		flex: 0 0 rem(94);
		width: rem(94);
		height: rem(94);
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__right {
	}
	&__cap {
		font-size: rem(24);
		line-height: math.div(29, 24);
		@media (max-width: $tablet) {
			font-size: rem(22);
		}
		@media (max-width: $mobile) {
			font-size: rem(20);
		}
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	&__rating {
		display: flex;
		align-items: center;
		gap: rem(6);
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	&__date {
		font-size: rem(14);
		line-height: math.div(18, 14);
		color: #6e6e6e;
	}
}
