// Базовые стили хлебных крошек
// Сниппет (HTML): breadcrumbs

.breadcrumbs {
	padding-bottom: rem(40);
	@media (max-width: $tablet) {
		padding-bottom: rem(32);
	}
	@media (max-width: $mobile) {
		padding-bottom: rem(24);
	}
	+ section {
		padding: rem(0) 0 rem(80);
		@media (max-width: $tablet) {
			padding: rem(0) 0 rem(40);
		}
		@media (max-width: $mobile) {
			padding: rem(0) 0 rem(30);
		}
	}
	ul {
		display: flex;
		align-items: center;
		li {
			font-family: $second-family;
			font-size: rem(12);
			display: flex;
			align-items: center;
			color: #202024;
			&:not(:last-child) {
				&::after {
					content: ">>";
					margin: rem(0) rem(12);
				}
			}
			a {
				transition: opacity 0.3s;
				@media (any-hover: hover) {
					&:hover {
						opacity: 0.7;
					}
				}
			}
			span {
				color: rgba(32, 32, 36, 0.3);
			}
		}
	}
}
