.tabs {
	&__navigation {
		display: flex;
	}
	&__title {
		border: rem(1) solid #eee;
		padding: rem(10) rem(15);
		border-radius: rem(5);
		&._tab-active {
			border: rem(1) solid #000;
		}
	}
	&__content {
		border: rem(1) solid #eee;
		padding: rem(10) rem(15);
	}
	&__body {
	}
}
