//<QUANTITY>
// Снипет (HTML): qa
.quantity {
	display: inline-flex;
	align-items: center;
	&::before {
		content: "Quantity:";
		color: rgba(0, 0, 0, 0.6);
		font-weight: 500;
		line-height: normal;
		margin-right: rem(12);
	}
	&__button {
		font-weight: 500;
		&_plus {
		}
		&_minus {
		}
	}
	&__input {
		flex: 0 0 rem(20);
		input {
			height: 100%;
			width: 100%;
			text-align: center;
		}
	}
}
