.other-news {
	padding: rem(80) rem(0);
	@media (max-width: $tablet) {
		padding: rem(40) rem(0);
	}
	@media (max-width: $mobile) {
		padding: rem(30) rem(0);
	}
	&:first-child {
		padding: rem(160) rem(0) rem(80);
		@media (max-width: $tablet) {
			padding: rem(80) rem(0) rem(40);
		}
		@media (max-width: $mobile) {
			padding: rem(60) rem(0) rem(30);
		}
	}
	&:last-child {
		padding: rem(80) rem(0) rem(160);
		@media (max-width: $tablet) {
			padding: rem(40) rem(0) rem(80);
		}
		@media (max-width: $mobile) {
			padding: rem(30) rem(0) rem(60);
		}
	}
	&__container {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-size: rem(42);
		@media (max-width: $tablet) {
			font-size: rem(34);
		}
		@media (max-width: $mobile) {
			font-size: rem(28);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(24);
		}
		&:not(:last-child) {
			margin-bottom: rem(32);
			@media (max-width: $tablet) {
				margin-bottom: rem(24);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}
	&__cols {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: rem(40) rem(24);
		@media (max-width: $pc) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media (max-width: $tablet) {
			grid-template-columns: 1fr 1fr;
			gap: rem(32) rem(20);
		}
		@media (max-width: $mobile) {
			gap: rem(24);
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
		}
		&:not(:last-child) {
			margin-bottom: rem(60);
			@media (max-width: $tablet) {
				margin-bottom: rem(40);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(20);
			}
		}
	}
	&__btn {
		align-self: flex-end;
		@media (min-width: $tablet) {
			min-width: rem(381);
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}

.other-post {
	&__image {
		display: block;
		position: relative;
		padding-bottom: percent(250, 381);
		border-radius: rem(12);
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(24);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}
	&__label {
		font-weight: 500;
		font-size: rem(24);
		line-height: 1.2;
		@media (max-width: $tablet) {
			font-size: rem(22);
		}
		@media (max-width: $mobile) {
			font-size: rem(20);
		}
		&:not(:last-child) {
			margin-bottom: rem(12);
			@media (max-width: $tablet) {
				margin-bottom: rem(8);
			}
		}
	}
	&__date {
		font-weight: 300;
		line-height: 1.3;
		color: #595959;
		display: inline-flex;
		align-items: center;
		gap: rem(10);
		@media (max-width: $mobile) {
			font-size: rem(16);
			gap: rem(5);
		}
		&::before {
			content: "";
			flex: 0 0 rem(24);
			width: rem(24);
			height: rem(24);
			background: url("@img/icons/calendar.svg") 50% / 100% no-repeat;
			@media (max-width: $mobile) {
				flex: 0 0 rem(20);
				width: rem(20);
				height: rem(20);
			}
		}
	}
}
