@use "sass:math";

// Подключение миксинов
@import "base/mixins";

// Подключение шрифтов
@import "fonts/fonts";

// Шрифт по умолчанию
$fontFamily: "Geologica";
$second-family: "Inter", sans-serif;
$fontSize: rem(18); // размер шрифта по умолчанию

// Основные цвета
$mainColor: #535353; // Цвет шрифта по умолчанию

// Минимальная ширина страницы
$minWidth: 360;
// Ширина полотна (макета)
// $maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1596;
// Общий отступ у контейнера
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($maxWidthContainer - 0.02); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры
@import "base/null";

body {
	background: #f4f4f4;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	// Прижимаем footer
	main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер
[class*="__container"] {
	max-width: rem($maxWidthContainer);
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 rem(math.div($containerPadding, 2));
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";
@import "global";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home"; // Главная
@import "services"; // Услуги
@import "category"; // Категория услуги
//
@import "news-item"; // Контакты
@import "contacts"; // Контакты

.links {
	padding: rem(50) rem(0);
	min-height: 100vh;
	height: 100%;
	background: rgba(#000, 0.9);
	@media (max-width: $tablet) {
		padding: rem(40) rem(0);
	}
	&__container {
	}
	&__cols {
		position: relative;
		z-index: 2;
	}
	&__col {
		&:not(:last-child) {
			margin-bottom: rem(40);
			@media (max-width: $tablet) {
				margin-bottom: rem(32);
			}
		}
	}
	&__title {
		font-size: rem(24);
		font-family: $second-family;
		letter-spacing: -0.04em;
		font-weight: 500;
		line-height: 1.2;
		color: #fff;
		&:not(:last-child) {
			margin-bottom: rem(20);
			@media (max-width: $tablet) {
				margin-bottom: rem(16);
			}
		}
	}
	&__list {
		list-style: none;
		counter-reset: item;
	}
	&__item {
		font-size: rem(18);
		counter-increment: item;
		button,
		a {
			transition: color 0.3s;
			color: #fff;
			@media (any-hover: hover) {
				&:hover {
					color: #d6f85b;
				}
			}
		}
		&::before {
			content: counter(item) ". ";
		}
		&:not(:last-child) {
			margin-bottom: rem(14);
			@media (max-width: $tablet) {
				margin-bottom: rem(10);
			}
		}
	}
}
